<div class="card border-primary">
  <div class="card-header bg-light">
    <h5 class="mb-0">Add New Student</h5>
  </div>

  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-5">
        <input
          type="text"
          class="form-control"
          placeholder="Student name"
          [(ngModel)]="studentName"
        />
      </div>

      <div class="col-md-5">
        <input
          type="number"
          class="form-control"
          placeholder="Student age"
          [(ngModel)]="studentAge"
        />
      </div>

      <div class="col-md-2">
        <button class="btn btn-primary w-100" (click)="addStudent()">Add</button>
      </div>
    </div>
  </div>
</div>
